._.DS_Store
.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
database/maxmind/GeoLite2-City.mmdb
package-lock.json
/test-elysiumcapital
/public/media/*.m4v
